<h3>Alta de jugadores</h3>
<form>
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="">Nombres</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="">Apellidos</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label>Fecha de nacimiento</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label>Nro. documento</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</form>